#container {
    padding-top: 30px;
}

.label {
    padding-left: 5px;
    width: 80%;
}

.listlist:hover {
    border: 2px solid blue;
}

.listlist {
    display: flex;
    justify-content: space-between;
    margin: 5px;
    padding-left: 5px;
    border: 1px solid black;
}

.controls button {
    margin: 0 5px;
}